#home-img {
	background-image: url(../static/minecraft-home-img.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 550px;
}
#collapsePlayers {
	transition: all 0.5s ease;
}
